# Ignore Mac system files
.DS_Store

# Ignore pip dist folder
# Ignore egg-info

dist
reddemcee.egg-info
MANIFEST

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore Private files
Private/
tests/

# Ignore docs build
site/
*.zip
*.png


__pycache__

*.pyc
*.so

